/* .loginImage {
  background-image: url('../assets/Images/login-BG.jpg');
  background-size: contain;
  background-position: center;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
} */
